/* Variables CSS */
:root {
    --color-blanco: #FFF;
    --color-azul: #1875E8;
    --color-azul-hover: #145bb5;
    --color-gris: #535353;
    --color-fondo: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    --font-chakra: 'Chakra Petch', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-size-h1: 72px;
    --font-size-parrafo: 32px;
    --font-size-input: 24px;
    --font-size-boton: 1.5rem;
    --padding-general: 2rem;
    --border-radius: 16px;
    --box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    --box-shadow-boton: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
}

/* Estilos Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color-blanco);
}

body {
    background: var(--color-fondo);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    background-image: url("img/candado.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Contenedores */
.container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid var(--color-azul);
    box-shadow: var(--box-shadow);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

.container__contenido {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.container__informacion {
    flex: 1;
    padding: 3rem;
}

.container__texto {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

.container__campo {
    display: flex;
    align-items: center;
    margin: 30px 0 12px;
    gap: 2rem;
}

.container__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.container__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container__imagen img:nth-child(1) {
    opacity: 0.5;
}

/* Tipografía */
h1 {
    font-family: var(--font-chakra);
    font-size: var(--font-size-h1);
    font-weight: 700;
    line-height: 100%;
    padding: var(--padding-general);
}

.texto__parrafo {
    color: var(--color-blanco);
    font-family: var(--font-inter);
    font-size: var(--font-size-parrafo);
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.container__texto-azul {
    color: var(--color-azul);
    display: block;
}

/* Inputs y Botones */
.container__input, .container__contrasena {
    width: 148px;
    height: 72px;
    border-radius: var(--border-radius);
    background-color: var(--color-blanco);
    border: none;
    color: var(--color-gris);
    padding: var(--padding-general);
    font-size: var(--font-size-input);
    font-weight: 700;
    font-family: var(--font-inter);
}

.container__contrasena {
    width: 496px;
    color: var(--color-azul);
    margin: 50px;
}

.boton {
    color: var(--color-blanco);
    font-size: var(--font-size-boton);
    border: none;
    background-color: var(--color-azul);
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    width: 243px;
    height: 72px;
    box-shadow: var(--box-shadow-boton);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: var(--color-azul-hover);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .container__contenido {
        flex-direction: column;
    }
    .container__campo {
        flex-direction: column;
        margin: 12px 0;
    }
    .container__informacion {
        padding: 1rem;
        flex-direction: column;
        min-width: fit-content;
    }

    h1 {
        font-size: 48px;
    }

    .container__input, .container__contrasena {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .boton {
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}


